﻿@model WebApplication1.Models.AllModels
@{
    ViewBag.Title = "Home";
}

@section Head { 

    <link href="~/Content/Default.css" rel="stylesheet" type="text/css" />
    <script>
        var selectedoption;
        var timer;

        //$(document).ready(function () {
        //    var today = new Date().toISOString().substr(0, 10)
        //    $("#fillingdate").val(today);
        //});

        function settimer() {
            clearTimeout(timer);
            selectedoption = $("#dd_codeInt").val();
            timer = setTimeout(getLayoutDetails, 200);
        };

        function getLayoutDetails() {
            if ($("#dd_codeInt").val() != "" && selectedoption == $("#dd_codeInt").val()) {
                $.ajax({
                    url: 'Default/GetLayouts',
                    type: "GET",
                    dataType: "JSON",
                    data: { codeID: $("#dd_codeInt").val() },
                    success: function (layouts) {
                        $("#lb_layout").html(""); // clear before appending new list
                        $.each(layouts, function (i, layout) {
                            $("#lb_layout").append(
                                $('<option></option>').val(layout.Value).attr('selected', layout.Selected).html(layout.Text));
                        });
                    }
                });
            }
        };        
    </script>
}
<h2>Home</h2>

<form action="Default/Print" method="post">
    <table>
        <tr>
            <td class="table_label">International Code:</td>
            <td>@Html.DropDownListFor(m => m.ArticlesModel.SelectedArticles, Model.ArticlesModel.Articles, new { @id = "dd_codeInt", @name = "dd_codeInt", @onchange = "settimer()" })</td>
        </tr>
        <tr>
            <td class="table_label">Layout:</td>
            <td>@Html.ListBoxFor(m => m.LayoutsModel.SelectedLayouts, Model.LayoutsModel.Layouts, new { @id = "lb_layout" })</td>
        </tr>
        <tr>
            <td class="table_label">Printer:</td>
            <td>@Html.DropDownListFor(m => m.PrintersModel.SelectedPrinters, Model.PrintersModel.Printers, new { @id = "dd_printers", @name = "dd_printers"})</td>
        </tr>
        <tr>
            <td class="table_label">Batch Number:</td>
            <td><input id="batchnum"  name="batchnum" type="text" required/></td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="table_label">Label Quantity:</td>
            <td><input id="lblqty" name="lblqty" type="number" min="1" value="1" required/></td>
            <td class="table_label">S/N Init Value:</td>
            <td><input id="sninit" name="sninit" type="number" min="0"/></td>
            <td class="table_label">Filling Date:</td>
            <td><input id="fillingdate" name="fillingdate" type="date"/></td>
        </tr>
        <tr>
            <td class="table_label">Decrement S/N:</td><td><input id="decsn" name="decsn" type="checkbox" /></td>
            <td class="table_label">Rotate:</td><td></td>
            <td colspan="2"><input type="submit" id="print" value="Print" /></td>
        </tr>
    </table>
   
</form>
