﻿input,
select,
textarea {
    width: 280px;
}

#container {
    width: 79%;
    height:80vh;
    float: right;
    margin: 10px 0 0 21%;
}

#lb_allData {    
    height:75vh;
    width:20%;
    margin-top: 10px;
    position: absolute;
    left: 10px;
}

.body-content {
    max-width:none;
}

footer {
    
    position: fixed;
    left: 10px;
    bottom: 0;
}

table tr td {
    padding: 10px 2px;
}