﻿body{
	background-image: url(Images/totalBG.png);
	background-size: 550px;
	background-repeat:no-repeat;
	background-position:top 120px center;	
    padding-top: 30px;
} 
.navbar-brand {
    margin-right: 50px;
}
select, table, tr, input, button {
    width: 100%;
}
.table_label {
	white-space: nowrap;
    text-align: right;
    padding-right: 5px;
    vertical-align: text-top;
    width: 150px;
    font-weight: bold;
}
table tr td {
    padding: 20px 2px;
}
.smalltable {
    width: 420px;
    float: right;
}
.smalltable tr td {
    width: 33%;
}
hr {
    clear:both;
}
input:not([type=submit]):not([type=button]), select {
	background-color: rgba(255,255,255,0);
}
.addremove{
    width: 200px;
    margin: 0 auto;
}
.addremove tr td {
    width: 50%;
}

.highlist {
    height: 250px !important;
}