﻿@model WebApplication1.Models.AllModels
@{
    ViewBag.Title = "EditArtecoArticles";
}

@section Head {
    <script>
        $(document).ready(function () {
            $("#add").click(function () {
                if ($("#lb_allData").val() != null) {
                    $('#lb_ArtecoData').prepend($("<option></option>").attr("value", $("#lb_allData option:selected").val()).text($("#lb_allData option[value='" + $("#lb_allData option:selected").val() + "']").text()));
                }
            });
            $("#remove").click(function () {
                if ($("#lb_ArtecoData").val() != null) {
                    $("#lb_ArtecoData option:selected").remove();
                }
            });
            $("form").submit(function (e) {
                $('#lb_ArtecoData option').prop('selected', true);
            });
        });

    </script>
}
<h2>Add / Remove Arteco Articles</h2>
<hr />

<form action="ArtecoArticlesPost" method="post">
    All Articles:
    @Html.ListBoxFor(m => m.ArticlesModel.SelectedArticles, Model.ArticlesModel.Articles, new { @id = "lb_allData", @class = "highlist" })
    <table class="addremove">
        <tr>
            <td><input id="add" name="add" type="button" value="↓ Add ↓"/></td>
            <td><input id="remove" name="remove" type="button" value="↑ Remove ↑" /></td>
        </tr>
    </table>
    Arteco Articles:
    @Html.ListBoxFor(m => m.ArtecoArticlesModel.SelectedArticles, Model.ArtecoArticlesModel.Articles, new { @id = "lb_ArtecoData", @name = "lb_ArtecoData", @class = "highlist" })

    <table class="smalltable">
        <tr>
            <td><input type="submit" name="action" value="Save" /></td>
            <td><input type="submit" name="action" value="Cancel" /></td>
        </tr>
    </table>
</form>
