﻿@model WebApplication1.Models.LayoutsArticleModel
@{
    ViewBag.Title = "EditArtecoArticles";
}

@section Head {
    <script>
        var selectedoption;
        var timer;

        $(document).ready(function () {
            $("#add").click(function () {
                if ($("#lb_alllayouts").val() != null) {
                    $('#lb_selectedlayouts').prepend($("<option></option>").attr("value", $("#lb_alllayouts option:selected").val()).text($("#lb_alllayouts option[value='" + $("#lb_alllayouts option:selected").val() + "']").text()));
                }
            });
            $("#remove").click(function () {
                if ($("#lb_selectedlayouts").val() != null) {
                    $("#lb_selectedlayouts option:selected").remove();
                }
            });
            $("form").submit(function (e) {
                $('#lb_selectedlayouts option').prop('selected', true);
            });

        });
        function settimer() {
            clearTimeout(timer);
            selectedoption = $("#dd_codeInt").val();
            timer = setTimeout(getLayoutDetails, 200);
        }

        function getLayoutDetails() {
            if ($("#dd_codeInt").val() != "" && selectedoption == $("#dd_codeInt").val()) {
                $.ajax({
                    url: 'Default/GetLayouts',
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        codeID: $("#dd_codeInt").val(),
                        useids: true
                    },
                    success: function (layouts) {
                        $("#lb_selectedlayouts").html(""); // clear before appending new list
                        $.each(layouts, function (i, layout) {
                            $("#lb_selectedlayouts").append(
                                $('<option></option>').val(layout.Value).attr('selected', layout.Selected).html(layout.Text));
                        });
                    }
                });
            }
        };
    </script>
}
<h2>Add / Remove Arteco Articles</h2>
<hr />

<form action="ArtecoLayoutsPost" method="post">
    @Html.DropDownListFor(m => m.ArticlesModel.SelectedArticles, Model.ArticlesModel.Articles, new { @id = "dd_codeInt", @name = "dd_codeInt", @onchange = "settimer()" })
    All Layouts:
    @Html.ListBoxFor(m => Model.LayoutsModel.SelectedLayouts, Model.LayoutsModel.Layouts, new { @id = "lb_alllayouts", @class = "highlist" })
    <table class="addremove">
        <tr>
            <td><input id="add" name="add" type="button" value="↓ Add ↓"/></td>
            <td><input id="remove" name="remove" type="button" value="↑ Remove ↑" /></td>
        </tr>
    </table>
    Used Layouts For Selected Article:
    @Html.ListBoxFor(m => Model.UsedLayoutsModel.SelectedLayouts, Model.UsedLayoutsModel.Layouts, new { @id = "lb_selectedlayouts", @class = "highlist" })

    <table class="smalltable">
        <tr>
            <td><input type="submit" name="action" value="Save" /></td>
            <td><input type="submit" name="action" value="Cancel" /></td>
        </tr>
    </table>
</form>
