﻿@model WebApplication1.Models.ArticlesModel

@{
    ViewBag.Title = "Edit";

}

@section Head {
<link href="~/Content/Edit.css" rel="stylesheet" type="text/css" />
<script>

        var selectedoption;
        var timer;
        $(document).ready(function () {
            selectedoption = $("#lb_allData").val()
            getCodeDetails();
        });

        function settimer() {
            clearTimeout(timer);
            selectedoption = $("#lb_allData").val();
            timer = setTimeout(getCodeDetails, 200);
        }

        function getCodeDetails() {
            if ($("#lb_allData").val() != "" && selectedoption == $("#lb_allData").val()[0]) {
                $.post("EditPage/GetCodeDetails", { codeID: $("#lb_allData").val()[0] },
                    function (data) { $("#container").html(data) }
              )
            }
        };
</script>
}


<h2>Edit Articles</h2>
<hr />
@Html.ListBoxFor(m => m.SelectedArticles, Model.Articles, new { @id = "lb_allData", @onchange = "settimer()" })
<div id="container">

</div>

